---
import Main from '../components/Main.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/SobreMi.astro';
import Contacto from '../components/Contact.astro';
import SkillsCarousel from '../components/SkillsCarousel.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <Header></Header>
    <Main></Main>
    <SobreMi></SobreMi>
    <Contacto></Contacto>
    <SkillsCarousel />
    
</Layout>
