<section id="Contacto">      
    <section id="cv" class="bg-[#111827] text-white py-8 ">
        <div class="container mx-auto px-4 flex items-center justify-center gap-4 ">
        <div class="flex flex-col space-y-20 ">
            <h2 class="text-3xl font-bold text-center font-press-start text-[#99eb5f] mt-15">Descarga mi CV</h2>
            <div class="flex justify-center gap-50 flex-wrap">
                <!-- Botón Español -->
                        <a 
                            href="https://drive.google.com/file/d/14srd_k-bG1raqadTRky5y5XE3n_edFoy/view?usp=drive_link" 
                            target="_blank"
                            class="col-start-2 row-start-3  row-span-1 col-span-2 div1 bg-gray-800  p-4 flex items-center justify-center text-white font-press-start text-lg h-full border-2 border-[#99eb5f] rounded-lg 
                                shadow-[0_0_5px_#99eb5f] hover:shadow-[0_0_10px_#99eb5f,0_0_20px_#99eb5f,0_0_30px_#99eb5f] 
                                transition-all duration-300 hover:text-[#99eb5f]"
                            aria-label="Descargar CV en Español"
                            >
                            <img 
                                src="/img/icons/gtflag.svg"
                                alt="Bandera de Guatemala" 
                                class="w-10 h-10 rounded-full object-cover border-2 border-white shadow-sm"
                            />

                        </a>

                        <a 
                            href="https://drive.google.com/file/d/1MljI94zn0M-_ueGIA6adhCoq02zEzqit/view?usp=drive_link" 
                            target="_blank"
                            class="col-start-2 row-start-3  row-span-1 col-span-2 div1 bg-gray-800  p-4 flex items-center justify-center text-white font-press-start text-lg h-full border-2 border-[#99eb5f] rounded-lg 
                                shadow-[0_0_5px_#99eb5f] hover:shadow-[0_0_10px_#99eb5f,0_0_20px_#99eb5f,0_0_30px_#99eb5f] 
                                 transition-all duration-300 hover:text-[#99eb5f]"
                            aria-label="Download CV in English"
                            >
                            <img 
                                src="/img/icons/usaflag.svg"
                                alt="Bandera de Estados Unidos" 
                                class="w-10 h-10 rounded-full object-cover border-2 border-white shadow-sm"
                            />
                        </a>
                    </div>
                </div>
            </div>
        <div class="mx-200">
                <h2 class="text-3xl font-bold text-center font-press-start text-[#99eb5f] mt-15">Certificados</h2>
                <a 
                    href="https://drive.google.com/drive/folders/1ErmnhVG29y5q5H_THANMytonC_5ym5ig?usp=drive_link" 
                    target="_blank"
                    class=" bg-gray-800 mt-20 p-4 flex items-center justify-center text-white font-press-start text-lg h-full border-2 border-[#99eb5f] rounded-lg 
                                shadow-[0_0_5px_#99eb5f] hover:shadow-[0_0_10px_#99eb5f,0_0_20px_#99eb5f,0_0_30px_#99eb5f] 
                                 transition-all duration-300 hover:text-[#99eb5f]"
                    aria-label="Download CV in English"
                            >
                    <p class="text-green-100  text-3xl font-bold text-center mr-20">Google Drive</p>
                    <img 
                        src="/img/icons/GoogleDrive.svg"
                            alt="Bandera de Estados Unidos" 
                                class="w-10 h-10 object-covershadow-sm"
                            />
                        </a>
        </div>
    </section>
    <section id="contacto1" class="bg-[#0d0d16] text-white py-8 border-b-2 border-t-2 border-[#99eb5f] mt-30">
        <div class="container mx-auto px-4 flex items-center justify-center gap-4">
            <h2 class="text-3xl font-bold text-center font-press-start text-[#99eb5f] mt-15">¿Quién soy?</h2>  <!-- Verde para pop -->
        </div>
        <div class="m-35">
            <p class="text-justify  text-green-100 text-xl ">Desarrollador Full Stack que combina una sólida base 
                técnica (stack técnico) con una perspectiva única obtenida tras 10 años en Atención al Cliente.
                 Mi experiencia me permite, no solo construir el producto correctamente, sino también entender 
                 profundamente al usuario final, traduciendo sus necesidades en soluciones técnicas eficientes. 
                 Soy bilingüe (inglés/español), proactivo y me destaco por mi capacidad para enseñar y guiar a 
                 equipos para lograr un objetivo común.</p>
        </div>
    </section>
</section>