---

import GithubIcon from '../assets/img/icons/github.svg?raw'; // Usa ?raw para obtener el SVG como string
import SunIcon from '../assets/img/icons/sun.svg?raw';
import MoonIcon from '../assets/img/icons/moon.svg?raw';


---

<header class="bg-gray-900 text-white shadow-lg border-b border-green-500/20">
  <div class="container mx-auto px-4 py-2">
    <h1 class="text-2xl font-bold">Roberto Corona</h1>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-green-400">CV</a><img src="../assets/img/icons/download.svg" alt="CV" class="w-6 h-6"></li>
        <li><a href="#" class="hover:text-green-400">Stack</a><img src="../assets/img/icons/diagonal-arrow.svg" alt="Stack" class="w-6 h-6"></li>
        <li><a href="#" class="hover:text-green-400">Certificaciones</a><img src="../assets/img/icons/diagonal-arrow.svg" alt="Certificaciones" class="w-6 h-6"></li>
        <li><a href="#" class="hover:text-green-400">Contacto</a><img src="../assets/img/icons/diagonal-arrow.svg" alt="Contacto" class="w-6 h-6"></li>
      </ul>
    </nav>
  </div>
</header>

