    <section id="SobreMi" class="bg-[#0d0d16] text-white py-8 border-b-2 border-t-2 border-[#99eb5f] mt-30">
        <div class="container mx-auto px-4 flex items-center justify-center gap-4">
            <h2 class="text-3xl font-bold text-center font-press-start text-[#99eb5f] mt-15">¿Quién soy?</h2> 
        </div>
        <div class="m-35">
            <p class="text-justify  text-green-100 text-xl ">Desarrollador Full Stack que combina una sólida base 
                técnica (stack técnico) con una perspectiva única obtenida tras 10 años en Atención al Cliente.
                 Mi experiencia me permite, no solo construir el producto correctamente, sino también entender 
                 profundamente al usuario final, traduciendo sus necesidades en soluciones técnicas eficientes. 
                 Soy bilingüe (inglés/español), proactivo y me destaco por mi capacidad para enseñar y guiar a 
                 equipos para lograr un objetivo común.</p>
        </div>
    </section>


    